body {
  background-color: #ffdada;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}

hr {
  margin: 1em;
  width: 80%;
}

.header-one {
  font-family: 'Lobster', cursive;
  font-size: 36px;
}

div .tab-menu {
  display: block;
  float:right;
}

a, a:link, a:active {
  text-decoration: none;
  color: #ffffff;
}

a:hover, a:focus {
  color: #ffe1e1;
}

a:visited {
  color: #768799;
}

@media only screen and (min-width: 320px) {
  .icon-menu::before {
    float: left;
    width: 5%;
    margin-top: 8%;
    font-size: 26px;
  }
}

@media only screen and (min-width: 768px) {
  .icon-menu::before {
    float: left;
    width: 5%;
    margin-top: 8%;
    font-size: 65px;
  }
}
